{% extends 'base.html.twig' %}

{% block title %}Editar Cadastro de Endereços
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
{% endblock %}
