body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
}

p {
	color: #000;
}

label {
	margin: 0.5rem 0;
	margin-right: 0.5rem;
	font-weight: bold;
	font-size: 15px;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
	border-radius: 0.25rem;
	margin-bottom: 0.25rem;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control {
	margin-bottom: 0.25rem;
	color: #000;
}

.table th,
.table td {
	letter-spacing: 0.05rem;
}

@media screen and (min-width: 1171px) {
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
	.navbar .navbar-brand {
		text-align: center;
		font-size: 10px;
	}

	.td-btn-mobile {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	td {
		margin: 0;
	}

	.btn .btn-info .btn-light .btn-danger {
		background-color: blue;
	}
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
	.navbar .navbar-brand {
		text-align: center;
		font-size: 1rem;
	}
}

@media screen and (max-width: 768px) {
	.navbar .navbar-brand {
		font-size: 1rem;
		font-weight: bold;
		text-align: center;
		letter-spacing: 0.05rem;
	}
	.navbar-dark .navbar-nav .nav-link {
		border: none !important;
	}

	.td-btn-mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	td {
		margin: 0;
	}

	.btn-info .btn-light .btn-danger {
		width: 30%;
	}
	.card {
		width: 20rem !important;
	}
	label {
		font-size: 13px;
	}
}

@media screen and (max-width: 500px) {
	.navbar .navbar-brand {
		font-size: 1rem;
		font-weight: bold;
		text-align: center;
		letter-spacing: 0.05rem;
	}
	.navbar-dark .navbar-nav .nav-link {
		border: none !important;
	}

	.td-btn-mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	td {
		margin: 0;
	}

	.btn-info .btn-light .btn-danger {
		width: 30%;
	}
	.card {
		width: 20rem !important;
	}
	label {
		font-size: 13px;
	}
}
