{% extends 'base.html.twig' %}

{% block title %}Cadastro de Pessoas
{% endblock %}

{% block body %}
    {% if people %}
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table class="table table-striped my-5" id="people">
                        <thead>
                            <tr class="text-md-center">
                                <th>Pessoas Cadastradas</th>
                                <th>Alterações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for person in people %}
                                <tr>
                                    <td mx-5>{{ person.nome }}</td>
                                    <td class="td-btn-mobile">
                                        <a class="btn btn-info" href="/person/{{ person.id }}">Visualizar</a>
                                        <a class="btn btn-light" href="/person/edit/{{ person.id }}">Editar</a>
                                        <a href="#" class="btn btn-danger delete-person" data-id="{{ person.id }}">Apagar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    {% else %}
        <p>Nenhuma pessoa cadastrada</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
