{% extends 'base.html.twig' %}

{% block title %}Cadastro de Pessoas
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h1>{{ person.nome }}</h1>
                    </div>
                    <div class="card-body">
                        <strong>CPF:</strong>
                        <p>{{ person.cpf }}</p>

                        {# <strong>Data Nascimento:</strong> <p>{{ person.data_nasc|date("Y-m-d") }}</p> #}
                        <strong>Telefone:</strong>
                        <p>{{ person.telefone }}</p>

                        <strong>Email:</strong>
                        <p>{{ person.email }}</p>

                        {# <strong>Cadastro:</strong> <p>{{ person.data_cadastro|date("Y-m-d") }}</p>
                                                                                                                                                                                                                                                                                                                                                                                                                                                   <strong>Última Alteração:</strong> <p>{{ person.data_alteracao|date("Y-m-d") }}</p> #}
                        <hr align="left" width="50%">
                        <a class="btn btn-primary my-3" href="/">Voltar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
{% endblock %}
