<footer class="page-footer font-small mdb-color pt-4">


    <div class="container text-center text-md-left">


        <hr>


        <div class="row d-flex align-items-center">


            <div class="col-md-7 col-lg-8">


                <p class="text-center text-md-left">© 2019 Copyright:
                    <a href="https://bitbucket.org/guilherme-ro/">
                        <strong>
                            bitbucket.org/guilherme-ro/</strong>
                    </a>
                </p>

            </div>


            <div class="col-md-5 col-lg-4 ml-lg-0">


                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>


        </div>


    </div>


</footer>
