<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">Cadastro de Pessoas e Endereços</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2 p-2 border border-light rounded" href="/">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 p-2 border border-light rounded" href="/person/new">Cadastrar Pessoa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 p-2 border border-light rounded" href="/address/new">Cadastrar Endereço</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
